go 1.25.0

use (
	./authx
	./bootstrap
	./dbx
	./httpx
	./logx
	./redisx
	./telemetry
	./yop
)

replace github.com/cocopirate/common-go/authx v0.1.4 => ./authx

replace github.com/cocopirate/common-go/bootstrap v0.1.0 => ./bootstrap

replace github.com/cocopirate/common-go/dbx v0.1.1 => ./dbx

replace github.com/cocopirate/common-go/httpx v0.1.0 => ./httpx

replace github.com/cocopirate/common-go/logx v0.1.0 => ./logx

replace github.com/cocopirate/common-go/redisx v0.1.0 => ./redisx

replace github.com/cocopirate/common-go/telemetry v0.1.0 => ./telemetry

replace github.com/cocopirate/common-go/yop v0.1.5 => ./yop
